<?xml version="1.0"?>
<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pessoa</title>
    </h:head>
    <h:body>
        <h:form id="pessoaForm" prependId="false">
            <span>Parte sem JSF</span>
            <p:messages />
            <p:outputLabel for="nome" value="Nome:" />
            <p:inputText id="nome" value="Pedro" />
            <p:commandButton action="actionOK" value="Incluir" update="pessoaForm" />
        </h:form>
    </h:body>
</f:view>
